@import "tailwindcss";
@font-face {
    font-family: Beaufort for LOL;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../assets/fonts/BeaufortforLOL-Regular.ttf") format("tff");
}
