---
import ChampionCard from "../components/championCard.astro";
import Layout from "../layouts/Layout.astro";
import { Champions } from "../script/newDdragon.js"; //Classic mode

// 📦 Server-side: Fetch and prepare champions
const championFetcher = new Champions("15.8.1");
let champions = await championFetcher.parse();
---

<Layout title="Ddragon">
    <h1
        style="text-align: center; color: #ECE2CF; font-size: 24px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word"
    >
        League of Legends Champions
    </h1>

    <ul class="grid grid-cols-3 gap-4 mx-auto w-fit 2xl:grid-cols-4">
        {
            Object.values(champions.data).map((champ) => (
                <ChampionCard champion={champ} />
            ))
        }
    </ul>
</Layout>