---
import ChampionCard from "../components/championCard.astro";
import Layout from "../layouts/Layout.astro";
import { Champions } from "../script/newDdragon.js"; //Classic mode

import { getAllChampions } from "../pages/api/request.ts";
export const prerender = false; // Disable prerendering for this page
const champions = await getAllChampions();
---

<Layout title="Ddragon">
    <h1
        style="text-align: center; color: #ECE2CF; font-size: 24px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word"
    >
        League of Legends Champions
    </h1>

    <ul class="grid grid-cols-3 gap-4 mx-auto w-fit 2xl:grid-cols-4">
        {
            Object.values(champions).map((champ) => (
                <ChampionCard champion={champ} />
            ))
        }
    </ul>
</Layout>