<button id="Reset">Reset</button>

<script>
    const resetButton = document.getElementById("Reset");
    resetButton?.addEventListener("click", () => {
        localStorage.removeItem("selectedChampions");
        const event = new CustomEvent("reset");
        window.dispatchEvent(event);
    });
</script>
